~/workspace/temp/.flows_mattsgreen-studiohub-3343381.json.backup
[{"type":"tab","id":"52d6d366.d549dc","label":"Inputs","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"430531d9.cb8f2","label":"Logic","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"268e2819.dad51","label":"Web Pages","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"f1103004.1ac2e8","label":"Time Sync","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"6e4baa40.ac161c","label":"Outputs","_def":{"defaults":{"label":{"value":""}}}},{"id":"4f34a76f.c0712","type":"websocket-listener","z":"f1103004.1ac2e8","path":"/ws/timesync","wholemsg":"false"},{"id":"4f49eb62.94f81c","type":"websocket-listener","z":"430531d9.cb8f2","path":"/ws/logic","wholemsg":"true"},{"id":"cd7be30b.75aaf","type":"inject","z":"52d6d366.d549dc","name":"On Mic 1","topic":"","payload":"{\"mic\":\"1\", \"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":160,"wires":[["cccf7a5b.92b8c"]]},{"id":"1af3e6b8.af9bb9","type":"inject","z":"52d6d366.d549dc","name":"On Mic 2","topic":"","payload":"{\"mic\":\"2\", \"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":200,"wires":[["cccf7a5b.92b8c"]]},{"id":"4c1e3d0f.0b523c","type":"inject","z":"52d6d366.d549dc","name":"Off Mic 1","topic":"","payload":"{\"mic\":\"1\", \"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":260,"wires":[["cccf7a5b.92b8c"]]},{"id":"4ac67f69.9be088","type":"inject","z":"52d6d366.d549dc","name":"Off Mic 2","topic":"","payload":"{\"mic\":\"2\", \"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":300,"wires":[["cccf7a5b.92b8c"]]},{"id":"9461de87.47fb98","type":"inject","z":"52d6d366.d549dc","name":"Now & Next","topic":"","payload":"{\"now\":{\"artist\":\"The Now Artist\",\"title\":\"The Now Title\"}, \"next\":{\"artist\":\"The Next Artist\",\"title\":\"The Next Title\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":380,"wires":[["719bd4e.def4f2c"]]},{"id":"b64f4791.3ea74","type":"inject","z":"52d6d366.d549dc","name":"Now","topic":"","payload":"{\"now\":{\"artist\":\"The Now Artist\",\"title\":\"The Now Title\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":420,"wires":[["719bd4e.def4f2c"]]},{"id":"9ef6bafa.cb8628","type":"function","z":"f1103004.1ac2e8","name":"Time Sync","func":"var data = msg.payload;\nif (data.ctt) {\n node.send({payload:{stt: new Date().getTime(), tz: new Date().getTimezoneOffset(), ctt: data.ctt, st: data.st}});\n}","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["a701165d.cabd38","f1d533f.a8b895"]]},{"id":"a701165d.cabd38","type":"debug","z":"f1103004.1ac2e8","name":"","active":true,"console":"false","complete":"true","x":1010,"y":160,"wires":[]},{"id":"891c72ef.fad1","type":"function","z":"f1103004.1ac2e8","name":"Now","func":"msg.payload = {ctt:new Date()}; \nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["9ef6bafa.cb8628"]]},{"id":"f1d533f.a8b895","type":"websocket out","z":"f1103004.1ac2e8","name":"TimeSync","server":"4f34a76f.c0712","client":"","x":1020,"y":100,"wires":[]},{"id":"ed385bfa.6244e8","type":"inject","z":"f1103004.1ac2e8","name":"Now","topic":"","payload":"{ctt:\"\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":160,"wires":[["891c72ef.fad1"]]},{"id":"3ec78170.65e346","type":"websocket in","z":"f1103004.1ac2e8","name":"TimeSync","server":"4f34a76f.c0712","client":"","x":157,"y":96,"wires":[["cf46ba0c.a881"]]},{"id":"f467eca.9bcd79","type":"function","z":"430531d9.cb8f2","name":"Star Logic","func":"node.send({topic:\"star\",payload:{time: new Date()}});\nglobal.set(\"starSegment\", true);","outputs":1,"noerr":0,"x":712,"y":141,"wires":[["4a034841.d02098","89c3d92a.84e988"]]},{"id":"4a034841.d02098","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":200,"wires":[]},{"id":"9ec9be30.a523c","type":"link in","z":"430531d9.cb8f2","name":"Star In","links":["6e30b224.106c5c"],"x":135,"y":140,"wires":[["f467eca.9bcd79"]]},{"id":"6e30b224.106c5c","type":"link out","z":"52d6d366.d549dc","name":"Star Data","links":["9ec9be30.a523c"],"x":1195,"y":80,"wires":[]},{"id":"8cbc7ab.75faa08","type":"function","z":"430531d9.cb8f2","name":"Mic Live Logic","func":"var data = msg.payload;\nvar onArray = global.get(\"onArray\")||Array();\nvar liveStart = global.get(\"liveStart\")||false;\nvar starSegment = global.get(\"starSegment\")||false;\n//node.warn(context.global.starSegment);\nif (data.state == \"on\") { \n if (onArray.indexOf(data.mic) === -1) { \n onArray.push(data.mic); \n } \n if (!liveStart) {\n liveStart = new Date(); \n }\n node.send({topic:\"micLive\",payload:{state:\"on\",mic:data.mic,liveMics:JSON.stringify(onArray)}});\n} else if (data.state == \"off\") { \n if ((pos = onArray.indexOf(data.mic)) !== -1) {\n onArray.splice(pos,1); \n }\n node.send({topic:\"micLive\",payload:{state:\"off\",mic:data.mic,liveMics:JSON.stringify(onArray)}});\n if (onArray.length === 0) { \n liveEnd = new Date(); \n node.send({topic:\"segment\",payload:{name:\"Mic Live Segment\", liveStart:liveStart, liveEnd: liveEnd, duration: liveEnd - liveStart, star:starSegment}});\n liveStart = false;\n global.set(\"starSegment\", false);\n }\n}\nglobal.set(\"onArray\", onArray); \nglobal.set(\"liveStart\", liveStart);\n","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["3d6adeca.d185fa","ca3c75b7.042db","cdd20fdd.71c6b8"]]},{"id":"3d6adeca.d185fa","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":360,"wires":[]},{"id":"ca3c75b7.042db","type":"function","z":"430531d9.cb8f2","name":"Now Next Logic","func":"var data = msg.payload;\nvar currentShow = global.get(\"currentShow\")||false;\nvar nownext = {};\nif (msg.topic == \"micLive\" & data.state == \"on\") { \n    nownext = {now:\"Live\", show:currentShow};\n    node.send({topic:\"nowNext\", payload:nownext});\n    global.set(\"nowNext\", nownext);\n} else { \n    if (typeof data.now != \"undefined\") { \n        nownext.now = data.now.artist + \" with \" + data.now.title;\n        if (typeof data.next != \"undefined\") { \n            nownext.next = data.next.artist + \" with \" + data.next.title;\n        } \n        nownext.show = currentShow;\n        node.send({topic:\"nowNext\", payload:nownext});\n    }\n    global.set(\"nowNext\", nownext);\n}\n","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["79873957.21abd","ac4e3d50.b8c6f"]]},{"id":"79873957.21abd","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":520,"wires":[]},{"id":"2cdb18ef.847cc","type":"link in","z":"430531d9.cb8f2","name":"Mic Live In","links":["cccf7a5b.92b8c"],"x":135,"y":300,"wires":[["8cbc7ab.75faa08"]]},{"id":"48c64a22.12d60c","type":"link in","z":"430531d9.cb8f2","name":"Now Next In","links":["719bd4e.def4f2c"],"x":135,"y":460,"wires":[["ca3c75b7.042db"]]},{"id":"89c3d92a.84e988","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":140,"wires":[]},{"id":"cdd20fdd.71c6b8","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":300,"wires":[]},{"id":"ac4e3d50.b8c6f","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":460,"wires":[]},{"id":"cccf7a5b.92b8c","type":"link out","z":"52d6d366.d549dc","name":"Mic Live Data","links":["2cdb18ef.847cc"],"x":1195,"y":220,"wires":[]},{"id":"719bd4e.def4f2c","type":"link out","z":"52d6d366.d549dc","name":"Now Next Out","links":["48c64a22.12d60c"],"x":1195,"y":400,"wires":[]},{"id":"d7b43f39.b42a8","type":"inject","z":"52d6d366.d549dc","name":"Star","topic":"","payload":"{\"now\":{\"artist\":\"The Now Artist\",\"title\":\"The Now Title\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":81,"wires":[["6e30b224.106c5c"]]},{"id":"1f142f8d.20499","type":"comment","z":"52d6d366.d549dc","name":"Star Segment","info":"","x":1250,"y":40,"wires":[]},{"id":"ff025434.f46738","type":"comment","z":"52d6d366.d549dc","name":"Mic Live Tally","info":"","x":1250,"y":180,"wires":[]},{"id":"cae48397.bf3d08","type":"comment","z":"52d6d366.d549dc","name":"Now/Next Value","info":"","x":1260,"y":360,"wires":[]},{"id":"70c7a844.dfbbe","type":"link in","z":"430531d9.cb8f2","name":"Tally In","links":["ed23473.86b2338"],"x":135,"y":780,"wires":[["976befeb.f9a67"]]},{"id":"4ebf7bec.af310c","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":780,"wires":[]},{"id":"595e4048.a9d8b8","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":840,"wires":[]},{"id":"976befeb.f9a67","type":"function","z":"430531d9.cb8f2","name":"Tally Logic","func":"var data = msg.payload;\nvar tallyArray = global.get(\"tallyArray\")||Array();\n\nif (data.state == \"on\" || data.state == \"flash\") { \n    if (tallyArray.indexOf(data.id) === -1) { \n        tallyArray.push(data.id); \n    } \n    node.send({topic:\"tally\",payload:{state:data.state,id:data.id,liveTally:JSON.stringify(tallyArray)}});\n} else if (data.state == \"off\") { \n    if ((pos = tallyArray.indexOf(data.id)) !== -1) {\n        tallyArray.splice(pos,1); \n    }\n    node.send({topic:\"tally\",payload:{state:\"off\",id:data.id,liveTally:JSON.stringify(tallyArray)}});\n}\nglobal.set(\"tallyArray\", tallyArray); ","outputs":1,"noerr":0,"x":709,"y":780,"wires":[["4ebf7bec.af310c","595e4048.a9d8b8"]]},{"id":"ed23473.86b2338","type":"link out","z":"52d6d366.d549dc","name":"Tally Out","links":["70c7a844.dfbbe","d0e3a6da.d307b8"],"x":1195,"y":600,"wires":[]},{"id":"365d45fc.a78332","type":"comment","z":"52d6d366.d549dc","name":"Tally Input","info":"","x":1240,"y":560,"wires":[]},{"id":"c21b565a.2cff8","type":"inject","z":"52d6d366.d549dc","name":"Tally 1 On","topic":"","payload":"{\"id\":\"1\",\"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":580,"wires":[["ed23473.86b2338"]]},{"id":"b8aead.9d9a895","type":"inject","z":"52d6d366.d549dc","name":"Tally 1 Off","topic":"","payload":"{\"id\":\"1\",\"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":660,"wires":[["ed23473.86b2338"]]},{"id":"9f93c5a5.d31cf","type":"inject","z":"52d6d366.d549dc","name":"Show","topic":"","payload":"{\"show\":\"This is the show name - Testing\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":500,"wires":[["abaf7a9d.a02268"]]},{"id":"abaf7a9d.a02268","type":"link out","z":"52d6d366.d549dc","name":"Show Out","links":["cbe7f00.4a9c11"],"x":1195,"y":500,"wires":[]},{"id":"cbe7f00.4a9c11","type":"link in","z":"430531d9.cb8f2","name":"Show In","links":["abaf7a9d.a02268"],"x":135,"y":620,"wires":[["87a6e7e7.ad73d"]]},{"id":"a40bdf25.93db6","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":620,"wires":[]},{"id":"186b25fe.b8f14a","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":680,"wires":[]},{"id":"87a6e7e7.ad73d","type":"function","z":"430531d9.cb8f2","name":"Show Logic","func":"var data = msg.payload;\nif(data.show) { \n    node.send({topic:\"currentShow\", payload:data.show});\n    global.set(\"currentShow\", data.show);\n}","outputs":1,"noerr":0,"x":706,"y":620,"wires":[["a40bdf25.93db6","186b25fe.b8f14a"]]},{"id":"cf46ba0c.a881","type":"json","z":"f1103004.1ac2e8","name":"","x":410,"y":100,"wires":[["9ef6bafa.cb8628"]]},{"id":"36d379ff.f5d526","type":"http in","z":"268e2819.dad51","name":"Clock","url":"/clock","method":"get","swaggerDoc":"","x":150,"y":180,"wires":[["cdff82e0.66139"]]},{"id":"cdff82e0.66139","type":"template","z":"268e2819.dad51","name":"Render Full Screen Clock","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/css/clock.css\"/>\n  </head>\n  <body>\n    <div id=\"clock\" class=\"clocks\">\n      <canvas id=\"canvas\" width=\"500\" height=\"500\"></canvas>\n    </div>\n  </body>\n</html>\n<script data-main=\"/js/clock\" src=\"/js/vendor/require.js\"></script>","x":550,"y":180,"wires":[["9cfe810f.58f2c8"]]},{"id":"9cfe810f.58f2c8","type":"http response","z":"268e2819.dad51","name":"Clock","x":970,"y":180,"wires":[]},{"id":"26b7822a.80e18e","type":"template","z":"268e2819.dad51","name":"Render Main Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/css/main.css\"/>\n  </head>\n  <body>\n    <div id=\"overlay-box\" class=\"overlay\">\n      <div class=\"wrapper\"><span>ALERT</span></div>\n    </div>\n    <div id=\"toptext\"></div>\n    <div id=\"clock\" class=\"clocks\">\n      <canvas id=\"canvas\" width=\"500\" height=\"500\"></canvas>\n    </div>\n    <ul id=\"box\">\n        <li id=\"box1\"><span>Live</span></li>\n        <li id=\"box2\"><span>Tally 1</span></li>\n        <li id=\"box3\"><span>Tally 2</span></li>\n        <li id=\"box4\"><span>Tally 3 </span></li>\n    </ul>\n    <div id=\"bottomtext\"></div>\n    <script data-main=\"/js/main\" src=\"/js/vendor/require.js\"></script>\n  </body>\n</html>","x":550,"y":100,"wires":[["54f9fb66.58ecf4"]]},{"id":"54f9fb66.58ecf4","type":"http response","z":"268e2819.dad51","name":"Main","x":970,"y":100,"wires":[]},{"id":"490787f9.3d24f8","type":"http in","z":"268e2819.dad51","name":"Main","url":"/main","method":"get","swaggerDoc":"","x":150,"y":100,"wires":[["26b7822a.80e18e"]]},{"id":"e4546fbc.b7d2c8","type":"template","z":"268e2819.dad51","name":"Render Test Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/css/test.css\"/>\n  </head>\n  <body>\n    <div id=\"toptext\">{{payload.settings.currentShow}}</div>\n    <div id=\"clock\" class=\"clocks\">\n        <canvas id=\"canvas\" width=\"500\" height=\"500\"></canvas>\n        <div id=\"nowPlaying\">\n            <span>Now Playing:</span>\n            <div id=\"bottomtext\">{{payload.settings.nowNext.now}}</div>\n        </div>\n    </div>\n    <ul id=\"box\">\n        <li id=\"box1\" class={{payload.settings.micLive}}><span>LIVE</span></li>\n        <li id=\"box2\" class={{payload.settings.tallyArray.1}}><span>TALLY 1</span></li>\n        <li id=\"box3\" class={{payload.settings.tallyArray.2}}><span>TALLY 2</span></li>\n        <li id=\"box4\" class={{payload.settings.tallyArray.3}}><span>TALLY 3 </span></li>\n        <img src=\"/img/logo.png\" alt=\"Station Logo\">\n    </ul>\n    <div id=\"ticker\"><ul id=\"tickerData\">{{#payload.settings.messages}}<li>{{.}}</li>{{/payload.settings.messages}}</ul></div>\n    <script data-main=\"/js/main\" src=\"/js/vendor/require.js\"></script>\n  </body>\n</html>","x":690,"y":260,"wires":[["c00fba99.5c5c3"]]},{"id":"c00fba99.5c5c3","type":"http response","z":"268e2819.dad51","name":"Test","x":970,"y":260,"wires":[]},{"id":"fa6ffe00.37b6","type":"http in","z":"268e2819.dad51","name":"Test","url":"/test","method":"get","swaggerDoc":"","x":150,"y":260,"wires":[["ec53608a.7c10a8"]]},{"id":"b3cee856.157ec","type":"inject","z":"52d6d366.d549dc","name":"Tally 1 Flash","topic":"","payload":"{\"id\":\"1\",\"state\":\"flash\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":620,"wires":[["ed23473.86b2338"]]},{"id":"ec53608a.7c10a8","type":"function","z":"268e2819.dad51","name":"Load State ","func":"var onArray = global.get(\"onArray\")||Array();\nvar tallyArray = global.get(\"tallyArray\")||Array();\nvar currentShow = global.get(\"currentShow\")||\"\";\nvar nowNext = global.get(\"nowNext\")||{}; \nvar messageArray = global.get(\"messageArray\")|| {};\n\nmsg.payload.settings = {}; \nmsg.payload.settings.micLive = (onArray.length > 0) ? \"on\" : \"\";\nmsg.payload.settings.tallyArray = {};\nfor (i = 0; i < tallyArray.length; i++) { \n    msg.payload.settings.tallyArray[tallyArray[i]] = \"on\";\n}\nmsg.payload.settings.messages = messageArray; \nmsg.payload.settings.currentShow = currentShow; \nmsg.payload.settings.nowNext = nowNext; \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["e4546fbc.b7d2c8"]]},{"id":"d0e3a6da.d307b8","type":"link in","z":"430531d9.cb8f2","name":"Messages In","links":["ed23473.86b2338","e21122c1.a4627"],"x":135,"y":900,"wires":[["192e38f2.4865cf"]]},{"id":"a102bd2d.1593c","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":900,"wires":[]},{"id":"26bc5ccd.5ab1ac","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":960,"wires":[]},{"id":"192e38f2.4865cf","type":"function","z":"430531d9.cb8f2","name":"Messages Logic","func":"var data = msg.payload;\nif (data.messages) { \n    node.send({topic:\"messages\",payload:{messages:data.messages}});\n    global.set(\"messageArray\", data.messages); \n}","outputs":1,"noerr":0,"x":719,"y":900,"wires":[["a102bd2d.1593c","26bc5ccd.5ab1ac"]]},{"id":"3d02d2d.eea7dae","type":"inject","z":"52d6d366.d549dc","name":"Messages","topic":"","payload":"{\"messages\":[\"Dave is a MASSIVE TWAT\",\"Message Scroll Test 1\", \"Message Scroll Test 2, with a bit more data\", \"Text Studio + your message to 0123456789\"]}","payloadType":"json","repeat":"","crontab":"","once":true,"x":120,"y":780,"wires":[["e21122c1.a4627"]]},{"id":"e21122c1.a4627","type":"link out","z":"52d6d366.d549dc","name":"Messages Out","links":["d0e3a6da.d307b8"],"x":1195,"y":780,"wires":[]},{"id":"c3ebf296.1e8b3","type":"comment","z":"52d6d366.d549dc","name":"Messages Input","info":"","x":1260,"y":740,"wires":[]},{"id":"88252aea.b8c2c","type":"websocket out","z":"430531d9.cb8f2","name":"","server":"4f49eb62.94f81c","client":"","x":1025,"y":1068,"wires":[]},{"id":"dd1ed730.3a1628","type":"inject","z":"430531d9.cb8f2","name":"Keep Alive Ping","topic":"ping","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":226,"y":1052,"wires":[["88252aea.b8c2c","26bc5ccd.5ab1ac"]]}]