~/workspace/temp/backupflow.json
[{"type":"tab","id":"52d6d366.d549dc","label":"Inputs","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"430531d9.cb8f2","label":"Logic","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"268e2819.dad51","label":"Web Pages","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"f1103004.1ac2e8","label":"Time Sync","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"6e4baa40.ac161c","label":"Outputs","_def":{"defaults":{"label":{"value":""}}}},{"id":"4f34a76f.c0712","type":"websocket-listener","z":"f1103004.1ac2e8","path":"/ws/timesync","wholemsg":"false"},{"id":"4f49eb62.94f81c","type":"websocket-listener","z":"430531d9.cb8f2","path":"/ws/logic","wholemsg":"true"},{"id":"cd7be30b.75aaf","type":"inject","z":"52d6d366.d549dc","name":"On Mic 1","topic":"","payload":"{\"mic\":\"1\", \"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":160,"wires":[["cccf7a5b.92b8c"]]},{"id":"1af3e6b8.af9bb9","type":"inject","z":"52d6d366.d549dc","name":"On Mic 2","topic":"","payload":"{\"mic\":\"2\", \"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":200,"wires":[["cccf7a5b.92b8c"]]},{"id":"4c1e3d0f.0b523c","type":"inject","z":"52d6d366.d549dc","name":"Off Mic 1","topic":"","payload":"{\"mic\":\"1\", \"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":260,"wires":[["cccf7a5b.92b8c"]]},{"id":"4ac67f69.9be088","type":"inject","z":"52d6d366.d549dc","name":"Off Mic 2","topic":"","payload":"{\"mic\":\"2\", \"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":300,"wires":[["cccf7a5b.92b8c"]]},{"id":"9461de87.47fb98","type":"inject","z":"52d6d366.d549dc","name":"Now & Next","topic":"","payload":"{\"now\":{\"artist\":\"The Now Artist\",\"title\":\"The Now Title\"}, \"next\":{\"artist\":\"The Now Artist\",\"title\":\"The Now Title\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":380,"wires":[["719bd4e.def4f2c"]]},{"id":"b64f4791.3ea74","type":"inject","z":"52d6d366.d549dc","name":"Now","topic":"","payload":"{\"now\":{\"artist\":\"The Now Artist\",\"title\":\"The Now Title\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":420,"wires":[["719bd4e.def4f2c"]]},{"id":"9ef6bafa.cb8628","type":"function","z":"f1103004.1ac2e8","name":"Time Sync","func":"var data = msg.payload;\nif (data.ctt) {\n node.send({payload:{stt: new Date(), ctt: data.ctt}});\n}","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["a701165d.cabd38","f1d533f.a8b895"]]},{"id":"a701165d.cabd38","type":"debug","z":"f1103004.1ac2e8","name":"","active":true,"console":"false","complete":"payload","x":1030,"y":160,"wires":[]},{"id":"891c72ef.fad1","type":"function","z":"f1103004.1ac2e8","name":"Now","func":"msg.payload = {ctt:new Date()}; \nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["9ef6bafa.cb8628"]]},{"id":"f1d533f.a8b895","type":"websocket out","z":"f1103004.1ac2e8","name":"TimeSync","server":"4f34a76f.c0712","client":"","x":1020,"y":100,"wires":[]},{"id":"ed385bfa.6244e8","type":"inject","z":"f1103004.1ac2e8","name":"Now","topic":"","payload":"{ctt:\"\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":160,"wires":[["891c72ef.fad1"]]},{"id":"3ec78170.65e346","type":"websocket in","z":"f1103004.1ac2e8","name":"TimeSync","server":"4f34a76f.c0712","client":"","x":160,"y":100,"wires":[["9ef6bafa.cb8628","a701165d.cabd38"]]},{"id":"f467eca.9bcd79","type":"function","z":"430531d9.cb8f2","name":"Star Logic","func":"node.send({topic:\"star\",payload:{time: new Date()}});\nglobal.set(\"starSegment\", true);","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["4a034841.d02098","89c3d92a.84e988"]]},{"id":"4a034841.d02098","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":180,"wires":[]},{"id":"9ec9be30.a523c","type":"link in","z":"430531d9.cb8f2","name":"Star In","links":["6e30b224.106c5c"],"x":135,"y":140,"wires":[["f467eca.9bcd79"]]},{"id":"6e30b224.106c5c","type":"link out","z":"52d6d366.d549dc","name":"Star Out","links":["9ec9be30.a523c"],"x":1195,"y":80,"wires":[]},{"id":"8cbc7ab.75faa08","type":"function","z":"430531d9.cb8f2","name":"Mic Live Logic","func":"var data = msg.payload;\nvar onArray = global.get(\"onArray\")||Array();\nvar liveStart = global.get(\"liveStart\")||false;\nvar starSegment = global.get(\"starSegment\")||false;\n//node.warn(context.global.starSegment);\nif (data.state == \"on\") { \n if (onArray.indexOf(data.mic) === -1) { \n onArray.push(data.mic); \n } \n if (!liveStart) {\n liveStart = new Date(); \n }\n node.send({topic:\"micLive\",payload:{state:\"on\",mic:data.mic,liveMics:JSON.stringify(onArray)}});\n} else if (data.state == \"off\") { \n if ((pos = onArray.indexOf(data.mic)) !== -1) {\n onArray.splice(pos,1); \n }\n node.send({topic:\"micLive\",payload:{state:\"off\",mic:data.mic,liveMics:JSON.stringify(onArray)}});\n if (onArray.length === 0) { \n liveEnd = new Date(); \n node.send({topic:\"segment\",payload:{name:\"Mic Live Segment\", liveStart:liveStart, liveEnd: liveEnd, duration: liveEnd - liveStart, star:starSegment}});\n liveStart = false;\n global.set(\"starSegment\", false);\n }\n}\nglobal.set(\"onArray\", onArray); \nglobal.set(\"liveStart\", liveStart);\n","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["3d6adeca.d185fa","ca3c75b7.042db","cdd20fdd.71c6b8"]]},{"id":"3d6adeca.d185fa","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":340,"wires":[]},{"id":"ca3c75b7.042db","type":"function","z":"430531d9.cb8f2","name":"Now Next Logic","func":"var data = msg.payload;\nvar currentShow = global.get(\"currentShow\")||false;\nvar nownext = {};\nif (msg.topic == \"micLive\" & data.state == \"on\") { \n    nownext = {now:\"Live\", show:currentShow};\n    node.send({topic:\"nowNext\", payload:nownext});\n} else { \n    if (typeof data.now != \"undefined\") { \n        nownext.now = data.now.artist + \" with \" + data.now.title;\n        if (typeof data.next != \"undefined\") { \n            nownext.next = data.next.artist + \" with \" + data.next.title;\n        } \n        nownext.show = currentShow;\n        node.send({topic:\"nowNext\", payload:nownext});\n        global.set(\"nowNext\", nownext);\n    }\n}","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["79873957.21abd","ac4e3d50.b8c6f"]]},{"id":"79873957.21abd","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":500,"wires":[]},{"id":"2cdb18ef.847cc","type":"link in","z":"430531d9.cb8f2","name":"Mic Live In","links":["cccf7a5b.92b8c"],"x":135,"y":300,"wires":[["8cbc7ab.75faa08"]]},{"id":"48c64a22.12d60c","type":"link in","z":"430531d9.cb8f2","name":"Now Next In","links":["719bd4e.def4f2c"],"x":135,"y":460,"wires":[["ca3c75b7.042db"]]},{"id":"89c3d92a.84e988","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":140,"wires":[]},{"id":"cdd20fdd.71c6b8","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":300,"wires":[]},{"id":"ac4e3d50.b8c6f","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":460,"wires":[]},{"id":"cccf7a5b.92b8c","type":"link out","z":"52d6d366.d549dc","name":"Mic Live Out","links":["2cdb18ef.847cc"],"x":1195,"y":220,"wires":[]},{"id":"719bd4e.def4f2c","type":"link out","z":"52d6d366.d549dc","name":"Now Next Out","links":["48c64a22.12d60c"],"x":1195,"y":400,"wires":[]},{"id":"d7b43f39.b42a8","type":"inject","z":"52d6d366.d549dc","name":"Star","topic":"","payload":"{\"now\":{\"artist\":\"The Now Artist\",\"title\":\"The Now Title\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":80,"wires":[["6e30b224.106c5c"]]},{"id":"1f142f8d.20499","type":"comment","z":"52d6d366.d549dc","name":"Star Segment","info":"","x":1250,"y":40,"wires":[]},{"id":"ff025434.f46738","type":"comment","z":"52d6d366.d549dc","name":"Mic Live Tally","info":"","x":1250,"y":180,"wires":[]},{"id":"cae48397.bf3d08","type":"comment","z":"52d6d366.d549dc","name":"Now/Next Value","info":"","x":1260,"y":360,"wires":[]},{"id":"2a53afcc.9fca4","type":"http in","z":"268e2819.dad51","name":"Main Display","url":"/main","method":"get","swaggerDoc":"","x":160,"y":120,"wires":[["6ecdf9b1.7007e8"]]},{"id":"831688f1.f0b86","type":"template","z":"268e2819.dad51","name":"Render Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>WS Test</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"main\",\"ws/timesync\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            ws.onmessage = function(msg) {\n                var line = \"\"; \n                var data = msg;\n                console.log(data);\n                line += \"<p>\"+data+\"</p>\";\n                document.getElementById('messages').innerHTML = line;\n            }\n            ws.onopen = function() {\n                document.getElementById('status').innerHTML = \"connected\";\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                document.getElementById('status').innerHTML = \"not connected\";\n                setTimeout(wsConnect,3000);\n            }\n        }\n\n        function dosend() {\n            if (ws) { \n                ws.send(\"cct\"); \n                console.log(\"data sent\")\n            }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>WS Test</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='dosend();'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        This is the payload: {{msg.payload}} !\n        </font>\n    </body>\n</html>\n","x":700,"y":120,"wires":[["7f9ecede.82d0c8"]]},{"id":"7f9ecede.82d0c8","type":"http response","z":"268e2819.dad51","name":"Main Display","x":970,"y":120,"wires":[]},{"id":"6ecdf9b1.7007e8","type":"function","z":"268e2819.dad51","name":"Load Settings","func":"msg.payload.onArray = global.get(\"onArray\");\nmsg.payload.tallyArray = global.get(\"tallyArray\");\nmsg.payload.nowNext = global.get(\"nowNext\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["831688f1.f0b86"]]},{"id":"70c7a844.dfbbe","type":"link in","z":"430531d9.cb8f2","name":"Tally In","links":["ed23473.86b2338"],"x":135,"y":780,"wires":[["976befeb.f9a67"]]},{"id":"4ebf7bec.af310c","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":780,"wires":[]},{"id":"595e4048.a9d8b8","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":820,"wires":[]},{"id":"976befeb.f9a67","type":"function","z":"430531d9.cb8f2","name":"Tally Logic","func":"var data = msg.payload;\nvar tallyArray = global.get(\"tallyArray\")||Array();\n\nif (data.state == \"on\") { \n    if (tallyArray.indexOf(data.id) === -1) { \n        tallyArray.push(data.id); \n    } \n    node.send({topic:\"tally\",payload:{state:\"on\",id:data.id,liveTally:JSON.stringify(tallyArray)}});\n} else if (data.state == \"off\") { \n    if ((pos = tallyArray.indexOf(data.id)) !== -1) {\n        tallyArray.splice(pos,1); \n    }\n    node.send({topic:\"tally\",payload:{state:\"off\",id:data.id,liveTally:JSON.stringify(tallyArray)}});\n}\nglobal.set(\"tallyArray\", tallyArray); ","outputs":1,"noerr":0,"x":730,"y":780,"wires":[["4ebf7bec.af310c","595e4048.a9d8b8"]]},{"id":"ed23473.86b2338","type":"link out","z":"52d6d366.d549dc","name":"Tally Out","links":["70c7a844.dfbbe"],"x":1195,"y":600,"wires":[]},{"id":"365d45fc.a78332","type":"comment","z":"52d6d366.d549dc","name":"Tally Input","info":"","x":1240,"y":560,"wires":[]},{"id":"c21b565a.2cff8","type":"inject","z":"52d6d366.d549dc","name":"Tally 1 On","topic":"","payload":"{\"id\":\"1\",\"state\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":580,"wires":[["ed23473.86b2338"]]},{"id":"b8aead.9d9a895","type":"inject","z":"52d6d366.d549dc","name":"Tally 1 Off","topic":"","payload":"{\"id\":\"1\",\"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":620,"wires":[["ed23473.86b2338"]]},{"id":"9f93c5a5.d31cf","type":"inject","z":"52d6d366.d549dc","name":"Show","topic":"","payload":"{\"show\":\"This is the show name\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":500,"wires":[["abaf7a9d.a02268"]]},{"id":"abaf7a9d.a02268","type":"link out","z":"52d6d366.d549dc","name":"Show Out","links":["cbe7f00.4a9c11"],"x":1195,"y":500,"wires":[]},{"id":"cbe7f00.4a9c11","type":"link in","z":"430531d9.cb8f2","name":"Show In","links":["abaf7a9d.a02268"],"x":135,"y":620,"wires":[["87a6e7e7.ad73d"]]},{"id":"a40bdf25.93db6","type":"websocket out","z":"430531d9.cb8f2","name":"Logic Output","server":"4f49eb62.94f81c","client":"","x":1010,"y":620,"wires":[]},{"id":"186b25fe.b8f14a","type":"debug","z":"430531d9.cb8f2","name":"","active":true,"console":"false","complete":"true","x":990,"y":660,"wires":[]},{"id":"87a6e7e7.ad73d","type":"function","z":"430531d9.cb8f2","name":"Show Logic","func":"var data = msg.payload;\nif(data.show) { \n    node.send({topic:\"currentShow\", payload:data.show});\n    global.set(\"currentShow\", data.show);\n}","outputs":1,"noerr":0,"x":710,"y":620,"wires":[["a40bdf25.93db6","186b25fe.b8f14a"]]}]